@font-face {
  font-family: "bunny";
  src: url("../assets/fonts/Bunya-Regular_PERSONAL.ttf");
  
}

@font-face {
  font-family: "curvy";
  src: url("../assets/fonts/Saturday be like Madness.ttf");
  
}
@font-face {
  font-family: "basicFont";
  src: url("../assets/fonts/basictitlefont.ttf");
  
}

.myWorks{
    margin: 0;
    padding-top: 10px;
    font-family: bunny;
    font-size: 50px;
    color:#75bba7;
}
#skills h6{
     font-family: bunny;
    font-size: 25px;
    color: #161925;
}

#skills h5{
    font-family: bunny;
    font-size: 40px;
    color: #3c6e71;
}

#skills ul{
    font-family: helvetica;
    font-size: 14px;
    color:#161925;
}
#bren{

    
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    
    @-webkit-keyframes example {
    from {margin-left: 0%;}
    to {margin-left: 500%}
}
}


#g{
    top:50px;
    left: 100px;
}

#u1{
    top:180px;
    left: 250px;
}
#t{
    top:320px;
    left: 400px;
}
#i{
    top:50px;
    left: 550px;
}
#m{
    top:180px;
    left: 700px;
}
#u{
    top:320px;
    left: 850px;
}
.cursivaFuente{
    font-family: "curvy";
    font-size: 60px;
    color:blanchedalmond
}
body,html{
    height: 100%;
    width: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("../assets/img/bfg.jpeg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fuente-nav{
    font-family: bunny;
    color: #75BBA7;
    
}

header nav a{
    text-decoration-line: none;
}

header nav div{
    background-color: transparent;
}

nav{
    background-color: transparent;
     box-shadow: none;
}


nav ul a:hover{
    background-color:transparent;
    text-decoration: underline;
    text-decoration-color: #7AE7C7;
}

.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 2em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

/* Ilin */
.link--ilin {
	font-weight: 900;
	text-transform: uppercase;
	line-height: 0.8;
	overflow: hidden;
	color:beige;
}

.link--ilin span {	
	position: relative;
	display: inline-block;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--ilin:hover span:first-of-type {
	color: #3c6e71;
}

.link--ilin:hover span:last-of-type {
	color: #75BBA7;
}

.link--ilin span::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #3c6e71;
	line-height: 0.8;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--ilin span:last-of-type::before {
	background: #75BBA7;
}

.link--ilin:hover span:last-of-type::before,
.link--ilin span:first-of-type::before {
	-webkit-transform: translate3d(0,-150%,0);
	transform: translate3d(0,-150%,0);
}

.link--ilin:hover span:first-of-type::before,
.link--ilin span:last-of-type::before {
	-webkit-transform: translate3d(0,150%,0);
	transform: translate3d(0,150%,0);
}

.logo-bren{
    margin-right: 20px;
}

.logo-oso{
   width: 500px;
margin-left: 300px;
    opacity: .2;
}

.letras-logo{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    margin-left: 100px;
    
    
}

.letra{
    position: absolute;
}
#acercaDeMi{
/*    height: 1000px;*/
    background-color:#161925;
    margin-top: 18%;
    font-family: basicFont;
    color: white;
    
/*    text-shadow: 2px 2px 4px #084c61;*/
}

#acercaDeMi h1{
    margin: 0
}

.fa{
    font-size: 30px;
    margin-left: 15px;
    color: grey;
}

#trabajos{
/*    height: 200px;*/
    background-color: #3c6e71;
}
.row{
    margin-bottom: 0;
}
.footerMargin{
    margin: 10px;
    margin-bottom: 25px;
}

#movil{
    display: none
}
/*
@media screen and (max-width: 700px) {
	.link--ilin { font-size: 5em; }
    
    #desktop{
        display: none;
    }
	
    
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
*/
@media (min-device-width : 320px) and (max-device-width : 480px){
    #desktop{
        display: none;
    }
    #movil{
        display: block
    }
    .movil-bg{
        background-color: #084c61
    }
    
    #movil div div div span{
        font-size: 50px;
    }
    .col .s10 .offset-s1{
        padding-bottom: 10px
    }
    .texto p{
        color: white;
        padding: 5%
    }
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: -10;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
    
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #000;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
    text-shadow: 1px 1px 1px white;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

figure.effect-zoe:hover img{
    filter:sepia(100%);

}

h2{
    font-size: 2rem
}
